In [2]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import numpy as np
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
from itertools import combinations
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import csv
import os

In [3]:
serp_flights = pd.read_csv('serp_flights.csv')
serp_flights.head()

,searchTerms,rank,title,snippet,displayLink,link,queryTime,totalResults,cacheId,formattedUrl,...,count,startIndex,inputEncoding,outputEncoding,safe,cx,gl,searchTime,formattedSearchTime,formattedTotalResults
0,flights to hong kong,1,Cheap Flights to Hong Kong (HKG) from $401 - K...,"Find flights to Hong Kong on XiamenAir, Hong K...",www.kayak.com,https://www.kayak.com/flight-routes/United-Sta...,2018-11-21 03:03:21.596540+00:00,12700000,W42baDpas_gJ,https://www.kayak.com/flight-routes/United.../...,...,10,1,utf8,utf8,off,012859022920491477448:pubdbfjmmec,us,0.428278,0.43,"12,700,000"
1,flights to hong kong,2,"$458 Flights to Hong Kong, China (HKG) - TripA...",Cheap Flights to Hong Kong: Enter your dates o...,www.tripadvisor.com,https://www.tripadvisor.com/Flights-g294217-Ho...,2018-11-21 03:03:21.596540+00:00,12700000,5jsjhmxgxvkJ,https://www.tripadvisor.com/Flights-g294217-Ho...,...,10,1,utf8,utf8,off,012859022920491477448:pubdbfjmmec,us,0.428278,0.43,"12,700,000"
2,flights to hong kong,3,"Cheap Flights to Hong Kong SAR, Asia $307.69 i...",Expedia Add-On Advantage: Book a flight & unlo...,www.expedia.com,https://www.expedia.com/Cheap-Flights-To-Hong-...,2018-11-21 03:03:21.596540+00:00,12700000,iEmRbX0P8CAJ,https://www.expedia.com/Cheap-Flights-To-Hong-...,...,10,1,utf8,utf8,off,012859022920491477448:pubdbfjmmec,us,0.428278,0.43,"12,700,000"
3,flights to hong kong,4,Cheap Flights to Hong Kong International from ...,The Magnificent City of Hong Kong. Check for c...,www.skyscanner.com,https://www.skyscanner.com/flights-to/hkg/chea...,2018-11-21 03:03:21.596540+00:00,12700000,EI78TI4Q1qYJ,https://www.skyscanner.com/flights-to/hkg/chea...,...,10,1,utf8,utf8,off,012859022920491477448:pubdbfjmmec,us,0.428278,0.43,"12,700,000"
4,flights to hong kong,5,Flights to Hong Kong (HKG) | Hong Kong Flight ...,Find & book great deals on Hong Kong (HKG) Fli...,flights.cathaypacific.com,https://flights.cathaypacific.com/en-us/flight...,2018-11-21 03:03:21.596540+00:00,12700000,q6kszaD7mggJ,https://flights.cathaypacific.com/en-us/flight...,...,10,1,utf8,utf8,off,012859022920491477448:pubdbfjmmec,us,0.428278,0.43,"12,700,000"

In [4]:
top_dest = pd.read_html('https://en.wikipedia.org/wiki/List_of_cities_by_international_visitors', 
header=0)[0]
top_dest.head().style.format({'Arrivals 2016Euromonitor': '{:,}'})

In [5]:
top_dest.dropna()

,RankEuromonitor,RankMastercard,City,Country,Arrivals 2017Euromonitor,Arrivals 2016Mastercard,Growthin arrivalsEuromonitor,Income(billions $)Mastercard
0,1.0,11.0,Hong Kong,Hong Kong,25695800.0,8370000.0,−3.1 %,6.84
1,2.0,1.0,Bangkok,Thailand,23270600.0,21470000.0,9.5 %,14.84
2,3.0,2.0,London,United Kingdom,19842800.0,19880000.0,3.4 %,19.76
3,4.0,6.0,Singapore,Singapore,17681800.0,12110000.0,6.1 %,12.54
5,6.0,4.0,Dubai,United Arab Emirates,16010000.0,15270000.0,7.7 %,31.30
6,7.0,3.0,Paris,France,14263000.0,18030000.0,−0.9 %,12.88
7,8.0,5.0,New York City,United States,13100000.0,12750000.0,3.6 %,18.52
8,9.0,54.0,Shenzhen,China,12962000.0,2120000.0,3.1 %,0.83
9,10.0,7.0,Kuala Lumpur,Malaysia,12843500.0,12020000.0,4.5 %,11.34
11,12.0,48.0,Delhi,India,10257000.0,2580000.0,37.7 %,1.91
12,13.0,9.0,Tokyo,Japan,9713500.0,10700000.0,4.8 %,13.48
13,14.0,16.0,Rome,Italy,9565500.0,7120000.0,1.8 %,4.47
14,15.0,15.0,Taipei,Taiwan,9318900.0,7350000.0,1.0 %,9.60
15,16.0,36.0,Guangzhou,China,9075500.0,3700000.0,5.3 %,1.66
16,17.0,27.0,Mumbai,India,8884900.0,4860000.0,23.5 %,3.60
18,19.0,8.0,Istanbul,Turkey,8642300.0,11950000.0,−5.8 %,7.54
19,20.0,20.0,Prague,Czech Republic,8550700.0,5810000.0,4.5 %,2.70
20,21.0,24.0,Miami,United States,8075800.0,5240000.0,3.1 %,8.15
21,22.0,10.0,Seoul,South Korea,7659100.0,10200000.0,"−14,9 %",11.30
22,23.0,12.0,Barcelona,Spain,7624100.0,8200000.0,8.3 %,9.28
24,25.0,19.0,Shanghai,China,7201200.0,6120000.0,4.3 %,5.00
25,26.0,14.0,Milan,Italy,6882500.0,7650000.0,2.8 %,4.56
29,30.0,13.0,Amsterdam,Netherlands,6570400.0,8000000.0,3.6 %,4.20
32,33.0,17.0,Osaka,Japan,6133100.0,7020000.0,8.7 %,3.39
33,34.0,21.0,Los Angeles,United States,6074300.0,5600000.0,4.0 %,8.10
34,35.0,18.0,Vienna,Austria,6043700.0,6690000.0,3.0 %,4.54
35,36.0,26.0,Berlin,Germany,5833100.0,4940000.0,4.9 %,5.00
36,37.0,22.0,Madrid,Spain,5581000.0,5260000.0,8.8 %,8.02
38,39.0,39.0,Johannesburg,South Africa,5537300.0,3600000.0,7.2 %,1.73
39,40.0,28.0,Riyadh,Saudi Arabia,5518400.0,4590000.0,8.9 %,1.69
...,...,...,...,...,...,...,...,...
46,47.0,25.0,Dublin,Ireland,4977000.0,4970000.0,3.5 %,1.87
48,49.0,59.0,Moscow,Russia,4632300.0,1830000.0,2.0 %,0.94
49,50.0,29.0,Toronto,Canada,4451000.0,4520000.0,11.2 %,2.16
50,51.0,52.0,Hanoi,Vietnam,4300000.0,2200000.0,7.5 %,1.28
51,52.0,31.0,Beijing,China,4156700.0,4050000.0,−0.2 %,4.08
53,54.0,35.0,Sydney,Australia,3857900.0,3750000.0,6.6 %,6.40
54,55.0,40.0,Budapest,Hungary,3823900.0,3360000.0,9.1 %,0.95
55,56.0,44.0,Punta Cana,Dominican Republic,3673600.0,2730000.0,6.5 %,2.95
56,57.0,33.0,San Francisco,United States,3601600.0,3930000.0,0.3 %,5.93
57,58.0,66.0,Jakarta,Indonesia,3587500.0,1550000.0,48.5 %,1.19
59,60.0,23.0,Munich,Germany,3492000.0,5250000.0,3.0 %,5.32
60,61.0,37.0,Lisbon,Portugal,3320300.0,3630000.0,5.9 %,1.43
64,65.0,66.0,Cairo,Egypt,3067100.0,1550000.0,1.8 %,1.08
65,66.0,64.0,Copenhagen,Denmark,3061000.0,1630000.0,6.0 %,0.91
72,73.0,85.0,Saint Petersburg,Russia,2856500.0,990000.0,2.0 %,0.51
73,74.0,71.0,Warsaw,Poland,2794700.0,1370000.0,2.2 %,0.51
74,75.0,47.0,Melbourne,Australia,2782700.0,2650000.0,9.8 %,4.94
76,77.0,34.0,Vancouver,Canada,2652600.0,3900000.0,6.6 %,2.12
78,79.0,85.0,Tel Aviv,Israel,2613800.0,990000.0,3.7 %,1.31
81,82.0,62.0,Kolkata,India,2550400.0,1720000.0,11.3 %,1.27
84,85.0,45.0,Brussels,Belgium,2524000.0,2710000.0,0.5 %,1.92
85,86.0,38.0,Frankfurt am Main,Germany,2511400.0,3620000.0,4.4 %,3.67
86,87.0,55.0,Stockholm,Sweden,2471200.0,2080000.0,6.2 %,1.68
88,89.0,43.0,Mexico City,Mexico,2351000.0,2980000.0,9.0 %,2.27
90,91.0,32.0,Lima,Peru,2274000.0,4030000.0,5.7 %,1.44
91,92.0,71.0,Rio de Janeiro,Brazil,2253600.0,1370000.0,−2.4 %,0.97
93,94.0,57.0,Buenos Aires,Argentina,2241200.0,2020000.0,−1.0 %,1.69
94,95.0,79.0,Colombo,Sri Lanka,2206000.0,1130000.0,8.1 %,0.95
95,96.0,41.0,Abu Dhabi,United Arab Emirates,2182900.0,3140000.0,6.2 %,2.65
97,98.0,53.0,Washington D.C.,United States,2154000.0,2180000.0,4.0 %,2.54

## Analyzing Titles

In [6]:
serp_flights[serp_flights['searchTerms'] == 'flights to paris'][['searchTerms', 'title']].head()

          searchTerms                                              title
120  flights to paris     Cheap Flights to Paris (PAR) from $269 - KAYAK
121  flights to paris  $309 Flights to Paris, France (PAR) - TripAdvisor
122  flights to paris  Cheap Flights to Paris, Ile-de-France (CDG Air...
123  flights to paris  Cheap Flights to Paris, France - Search Deals ...
124  flights to paris                 Cheap Flights to Paris | CheapOair

In [7]:
(serp_flights[['searchTerms', 'displayLink', 'totalResults']].head().style.format({'totalResults': '{:,}'}))

In [12]:
# top_dest = pd.read_html('https://data.worldbank.org/indicator/ST.INT.XPND.CD', header=0)[0]
# top_dest.head().style.format({'ST.INT.XPND.CD': '{:,}'})